body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, italic;
    margin: 0;
    min-height: 125vh;
    display: flex;
    flex-direction: column;
}
.header,
.footer{
    background-color: #1f2937;
}
.header{
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: Roboto;
}
.links{
    display: flex;
    justify-content: space-between;
    padding: 16px 100px;
}
.main-content{
    padding: 30px 0px;
    display: flex;
    justify-content: space-around;
}
.logo{
    font-size: 24px;
    color: #f9faf8;
    padding-left: 20px;

}
h1{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 0;
}
h2,
a{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}
a{
    margin: 0 10px;;
}
.header-button,
.third-container{
    background-color: #3882f6;
}

button{
    width: 125px;
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    color: #f9faf8;
    font-size: medium;
}
.bottom-button{
    border-color: #fff;
    border: 2px solid;
    height: 40px;
    color: #fff;
    background-color: #3882f6;
}

.first-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px;
    height: 400px;
}
.boxes{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.corner {
  width: 150px;
  height: 150px;
  border: 4px solid #3882f6; /* or background-color */
  border-radius: 15px;
  flex: 1;
}
p{
    width: 150px;
    text-align: center;
    color: dimgray;
    font-size: 16px;
    font-weight: 500;
    margin: 0;

}
h3{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin-top: 0px;
}
.second-block{
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    height: 400px;
    padding-top: 40px;
    justify-content: center;
}
.quote{
    align-self: center;
    width: 700px;
    text-align: left;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: 200;
}
h4{
    align-self: center;
    text-align: right;
    padding-left: 50vh;
}
.third-block{
    display: flex;
    justify-content: center;
    padding: 10vh;
}
.third-container{
    width: 100vh;
    height: 15vh;
    border-radius: 7px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h5{
    font-size: 24px;
    color: #f9faf8;
    margin: 0;
}
.sign{
    text-align: left;
    width: 50vh;
    margin: 0;
    padding: 0;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color:beige;
}

